body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#header_style {
    background: RoyalBlue;
}
#logo {
    display: block;
    width: 125px;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
.search_box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 100%;
    font-size: 0;
    text-align: center;
}
.search_box input {
    width: 50%;
    height: 22px;
    padding: 3px;
}
.search_box button {
    background-color: white;
    height: 30px;
    vertical-align: bottom;
}
.nav_menu {
    width: 100%;
    display: inline-block;
    border-top: 1px solid lightsteelblue;
}
.nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav_menu a:hover {
    text-decoration: underline;
}
.nav_menu li {
    float: left;
    width: 25%;
    position: relative;
}
.nav_menu a {
    color: white;
    text-decoration: none;
    font-size: 105%;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    background-color: RoyalBlue;
    text-align: center;
    width: 100%;
    display: block;
}
.nav_menu ul ul li {
    float: none;
    font-size: 94%;
    width: 100%
}
.nav_menu ul ul {
    display: none;
    position: absolute;
    background-color: RoyalBlue;
    width: 100%
}
.nav_menu ul li:hover>ul {
    display: block;
}
.nav_menu img {
    vertical-align: top;
    margin-right: 3px;
    margin-left: 3px;
}
#header_style::after {
    clear: both;
}

/* Homepage */

#homepage_content {
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto;
    column-width: 400px;
    column-count: auto;
    margin: 30px;
}
#product_square {
    /* border: red solid 1pt; */
    margin: auto;
    /*float: center;*/
    margin-bottom: 60px;
    width: 400px;
}
.products {
    display: block;
    text-decoration: none;
    /* margin-bottom: 20px; */
    color: black;
}
.products p {
    width: 400px;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 5px;
}
.products img {
    /* Centers the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Size of the image */
    max-width: 400px;
    height: auto;
    max-height: 300px;
    margin-bottom: 2em;
}
.products:visited {
    color: black;
}
.products:hover {
    text-decoration: underline;
}

/* Product Page */

#product_content {
    margin-top: 70px;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
#product_content aside {
    width: 40%;
    float: left;
    /* border: 1px solid red; */
}
#product_content main {
    width: 55%;
    padding: 2%;
    float: left;
    padding-top: 0;
    padding-left: 2.5%;
    margin-bottom: 100px;
    /* border: 1px solid black; */
}
#product_content aside img {
    display: block;
    width: 70%;
    margin-bottom: 100px;
}
#product_content main label {
    float: left;
    /*margin-left: 1em;*/
    /*text-align: left;*/
    margin-right: 10px;
    /*font-size: 94%;*/
}
#product_content main button {
    margin-left: 1em;
    /*width: 7em;*/
    padding: 2px;
    margin-bottom: 10px;
}
#product_content main button img {
    vertical-align: middle;
}
#product_content main p {
    text-align: left;
}

/*Login Page Contents*/

#login fieldset {
    border-color: RoyalBlue;
    border-style: solid;
    width: 400px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 135px;
}
#login fieldset legend {
    font-size: 120%;
    padding-bottom: 10px;
    color: RoyalBlue;
}
#login label {
    margin-left: 0;
    float: left;
    text-align: right;
    width: 5.7em;
    font-size: 94%;
}
#login input {
    margin-left: .5em;
    width: 17em;
    margin-bottom: 10px;
}
#login_submit {
    margin-left: 95px !important;
}
.login_fail {
    color: red;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 7px;
    font-size: 90%;
}
#contact_link {
    text-decoration: none;
    display: block;
    margin-left: 120px;
    color: RoyalBlue;
}
#contact_link:visited {
    color: RoyalBlue
}
#contact_link:hover {
    text-decoration: underline;
}

/* Remove Product Page*/

.removeProduct aside {
    margin: auto;
}
.removeProduct table {
    width: 70%;
    margin: auto;
    padding-top: 20px;
}
#col_name {
    width: 60%;
}
.removeProduct th {
    text-align: left;
    padding-bottom: 5px;
    width: 10%;
}
.removeProduct th, td {
    padding-left: 6px;
    padding-right: 8px;
    padding-top: 3px;
}
.removeProduct td {
    padding-bottom: 15px;
}
.removeProduct ul {
    list-style: none;
    padding-left: 20px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.removeProduct ul li {
    margin-bottom: 10px;
    float: left;
    width: 25%;
    text-align: center;
}
#selected_category {
    color: RoyalBlue;
}
.removeProduct a {
    color: black;
    font-size: 120%;
}
.removeProduct a:visited {
    color: black;
}

/*Contact Page Contents*/

#contact fieldset {
    border-color: RoyalBlue;
    border-style: solid;
    width: 550px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 135px;
}
#contact fieldset legend {
    font-size: 120%;
    padding-bottom: 10px;
    color: RoyalBlue;
}
#contact label {
    margin-left: 0;
    float: left;
    text-align: right;
    width: 5.7em;
    font-size: 94%;
}
#contact input {
    margin-left: .5em;
    width: 17em;
    margin-bottom: 10px;
}
#contact select {
    margin-left: .5em;
    width: 17em;
    margin-bottom: 10px;
}
#contact_submit {
    margin-left: 95px !important;
}
#contact p {
    font-size: 94%;
    margin-left: 20px;
    margin-bottom: 0;
    float: left;
    margin-top: 0;
}
#contact textarea {
    margin-left: 7px;
    width: 60%;
    height: 80px;
    margin-bottom: 8px;
}
.contact_success {
    color: green;
    width: 100%;
    text-align: center;
}

/* New User Login */

#newUser fieldset {
    border-color: RoyalBlue;
    border-style: solid;
    width: 400px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 135px;
}
#newUser fieldset legend {
    font-size: 120%;
    padding-bottom: 10px;
    color: RoyalBlue;
}
#newUser label {
    margin-left: 0;
    float: left;
    text-align: right;
    width: 5.7em;
    font-size: 94%;
}
#newUser input {
    margin-left: .5em;
    width: 17em;
    margin-bottom: 10px;
}
#newUser_submit {
    margin-left: 95px !important;
}

/*  Process New User */

#processNewUser fieldset {
    border-color: RoyalBlue;
    border-style: solid;
    width: 550px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}
#processNewUser fieldset h3 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* About Us */

#aboutUs fieldset {
    border-color: RoyalBlue;
    border-style: solid;
    width: 600px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 135px;
}
#aboutUs fieldset legend {
    font-size: 120%;
    padding-bottom: 10px;
    color: RoyalBlue;
}
#aboutUs fieldset img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 354px;
}
#aboutUs fieldset p {
    text-align: center;
}
#aboutUs fieldset h4 {
    color: RoyalBlue;
}

/* Cart  */

#cartTable tr {
    padding: 20px;
}
p #cartName {
    text-align: center;
}
.addToCart td, th, tr {
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    border-bottom: #F0F0F0 1px solid;
}
p, #qty {
    text-align: center;
    padding-top: -10px;
}
.addToCart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 100%;
    font-size: 0;
    text-align: center;
}
#cart_square {
    /* border: red solid 1pt; */
    width: 70px;
    height: 70px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
#cartImage {
    margin: auto;
    max-width: 70px;
    height: auto;
    max-height: 70px;
}
table {
    margin: 0 auto;
}
table td {
    border-bottom: #F0F0F0 1px solid;
}
strong #total {
    margin-bottom: 20px;
    padding-bottom: 20px;
}
#checkoutButton {
    margin: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* checkout */

#checkout h1 {
    text-align: center;
}
#checkout fieldset {
    border-color: RoyalBlue;
    border-style: solid;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5px;
}
#checkout fieldset, #checkout legend {
    font-size: 120%;
    padding-bottom: 10px;
    color: RoyalBlue;
}
#checkout label {
    margin-left: 0;
    float: left;
    text-align: right;
    width: 5.7em;
    font-size: 94%;
}
#checkout input {
    margin-left: .5em;
    width: 17em;
    margin-bottom: 10px;
}
#checkout #in1 #stop input {
    width: 4em;
}
#checkout #total strong {
    color: black;
    margin-top: 10px;
}
#checkout #total {
    text-align: center;
    align-items: center;
}
#checkout #total input {
    margin-bottom: 5px;
}
#checkout #end {
    margin-bottom: 50px;
}
#processNewUser #paymentText h3 {
    margin-top: 10px;
}

/* Account */

.account {
    text-align: center;
}
.account .zoom {
    padding: 1em;
    background: royalblue;
    transition: transform .2s;
    width: 20%;
    margin: 0 auto;
}
.account .zoom:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
}
.account .zoom a, a:visited, a:hover {
    color: white;
    text-decoration: none;
}

/* Orders */

.orders {
    margin-bottom: 70px;
}
.orders fieldset {
    border-color: RoyalBlue;
    border-style: solid;
    width: 800px;
    margin: auto;
    margin-top: 70px;
}
.orders fieldset legend {
    font-size: 120%;
    padding-bottom: 10px;
    color: RoyalBlue;
}
.orders fieldset p {
    text-align: left;
    margin-left: 4em;
}
.orders #quantity {
    text-align: center;
}

/* footer */

#copy {
    text-align: center;
    color: white;
    font-size: 82%;
}
footer {
    clear: both;
    border: 2px solid RoyalBlue;
    background-color: RoyalBlue;
    bottom: 0;
}